.header-container {
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
}

.header-image {
	max-width: 80px;
}

img {
	width: 100%;
}

.header-nav {
	display: flex;
	gap: 20px;
}

.header-nav li {
	list-style-type: none;
}

.res-search {
	padding: 20px 0;
}

.res-card {
	border: 1px solid #000;
	padding: 10px;
	max-width: 200px;
}

.res-card-image {
	max-width: 200px;
}

.res-card-details div {
	padding-bottom: 5px;
}